.infoBox {
  flex: 1;
  cursor:pointer;
}
.infoBox:not(:last-child) {
  margin-right: 10px;
}
.infoBox_cases {
  color: rgb(209, 9, 9);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
.infoBox_total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
.infoBox--selected{
  border-top: 10px solid greenyellow;
}
.infoBox_Red{
  border-color: red;
}
.infoBox_Blue{
  border-color: #007FFF;
}
.heading{
  font-size: 2.5rem;
  font-weight: bold;
}
.infoBox_cases_green{
  color: greenyellow;
}
.infoBox_cases_blue{
color:rgb(3, 3, 188)
}